dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
fonttools==4.51.0
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipykernel==6.25.2
ipython==8.16.1
ipython-genutils==0.2.0
jupyter_client==7.4.9
jupyterlab==4.1.6
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.25.2
pandas==2.0.3
pip==23.2.1
plotly==5.15.0
pyOpenSSL==23.2.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
scipy==1.11.4
seaborn==0.13.1
shutup==0.2.0
SQLAlchemy==2.0.22
voila==0.5.6
Werkzeug==3.0.2
yfinance==0.2.37
